<html>
    <head>
        <title>성균관대학교 아이캠퍼스(미러)</title>
        <%- include("parts/common_header") %>
    </head>
    <body>
        <div id="body_content">
            <div id="main_area">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Sungkyunkwan_University_seal.svg/1200px-Sungkyunkwan_University_seal.svg.png" height="80px" style="margin-right: 10px;">
                <span class="main-title">신 아이캠퍼스(Mirror)</span>
                <hr>
                <div class="form-wrapper">
                    <span class="form-title"><%= studentInfo.student_name %>(<%= studentInfo.student_id %>)님 환영합니다!</span>
                    <div class="form-in-row">
                        <!-- <span class="form-item-name block-span">raw data</span> -->
                    </div>
                </div>
                <div class="form-wrapper" id="info_bundle_display_wrapper">
                    <div class="menu-selector-wrapper">
                        <span class="menu-upper-tab" id="main_tab">Main</span>
                        <span class="menu-upper-tab" id="courses_tab">Courses</span>
                        <span class="menu-upper-tab" id="assignments_tab">Assignments</span>
                        <span class="menu-upper-tab" id="announcements_tab">Announcements</span>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <%- include("parts/common_left_sidemenu.ejs") %>
        <script src="js/icampus.js"></script>
        <script>
            let fetchedData = null;
            <% if(locals.data){ %>
                fetchedData = convertRawJson("<%= data %>");
            <% } %>
            let section = "<%= section %>";
            let now = new Date();
            let updateCourseRemainTimer = null;

            $('.menu-upper-tab').removeClass('selected');

            switch(section){
                case "main":
                    $('#main_tab').addClass('selected');
                    break;
                case "courses":
                    $('#courses_tab').addClass('selected');
                    let courseList = [];
                    let selectedCourseNum = 0;
                    if(updateCourseRemainTimer != null) clearInterval(updateCourseRemainTimer);

                    fetchedData.forEach(subject => {
                        subject.sections.forEach((section, section_ind) => {
                            section.subsections.forEach(subsection => {
                                subsection.courses.forEach(course => {
                                    if(
                                        section.startDate < now.getTime() &&
                                        course.status != "출석"
                                        ){
                                        let pass = course.deadLineDate < now.getTime();
                                        courseList.push({
                                            name: course.name,
                                            alreadyPass: pass,
                                            duration: course.videoDuration,
                                            deadline: course.deadLineDate,
                                            subjectname: subject.subjectName,
                                            sectionIndex: section_ind,
                                        });
                                        if(!pass) selectedCourseNum++;
                                    }
                                });
                            });
                        });
                    });
                    let seg = `
                            <span class="form-title" id="remained_course_num">수업 ${selectedCourseNum}개 남음</span>
                            <div class="form-in-row" id="remained_course_list">
                            </div>
                        `;
                    $('#info_bundle_display_wrapper').append(seg);
                    console.log(courseList);
                    courseList.sort((a,b)=>{
                        let aX = parseInt(a.deadline);
                        let bX = parseInt(b.deadline)
                        return aX>bX?1:(aX<bX?-1:0);
                    });

                    let courseNotPassedIndex = 0;
                    let subjectName = "";
                    courseList.forEach((course, index) =>{
                        if(!course.alreadyPass){
                            if(subjectName != course.subjectname){
                                subjectName = course.subjectname;
                                $('#remained_course_list').append(`
                                <div class="subject-tab-item">
                                    <span class="subject-name">${subjectName}</span>
                                </div>
                            `);
                            }
                            $('#remained_course_list').append(`
                            <div class="course-item">
                                <span class="course-name">${course.name}</span>
                                <span class="course-duration">${course.duration}</span>
                                <span class="course-remain-time" id="course_remain_time_${courseNotPassedIndex}">- 남음</span>
                                <input type="hidden" value="${course.deadline}" id="course_deadline_${courseNotPassedIndex++}">
                            </div>
                            `);
                        }
                    });
                    
                    updateCourseRemainTimer = setInterval(updateCourseRemainTime, 1000);
                    
                break;
            case "assignments":
                $('#assignments_tab').addClass('selected');
                break;
            }
            console.log(fetchedData);

            function updateCourseRemainTime(){
                let remain_course_list = $('.course-item');
                let now = new Date();
                remain_course_list.each((ind) => {
                    let deadlineStr = $('#course_deadline_'+ind).attr('value');
                    let deadline = parseInt(deadlineStr);
                    let diff = deadline - now.getTime();
                    let diffSec = parseInt(diff/1000);
                    $('#course_remain_time_'+ind).text(`${getTimeFormatString(diffSec)} 남음`);
                });
            }
        </script>
    </body>
</html>